body {
  background-color: #13161d;

  color: aliceblue;
  margin: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
}

.header_content {
  display: flex;
  justify-content: space-between;
  padding: 28px 10%;
  align-items: center;
  box-shadow: 1px 1px 12px #1b1d22;
}

.header_content .header_logo {
  display: flex;
  justify-items: center;
  align-items: center;

  gap: 20px;
}

.header_content .header_logo img {
  border-radius: 100%;

  width: 50px;
  height: 50px;
}

.header_content .header_logo h1 {
}

.header_content .header_navigation ul {
  list-style-type: none;
  display: flex;
  gap: 50px;
}

.header_content .header_navigation ul a {
  color: white;

  text-decoration: none;
}

.header_content .header_contant_btn {
  background-color: #13161d;
  color: white;

  padding: 20px 40px;
  box-shadow: 1px 1px 12px #353840;
  outline: none;
  border: none;
}

.hero_content {
  display: flex;
  /* justify-items: center; */
  height: 80vh;
  color: #e1cece;
}

.hero_content .content {
  width: 100%;
  flex-basis: 50%;
  /* align-content: center; */
  display: flex;
  justify-content: center;
  align-items: start;
  align-content: end;
  flex-direction: column;
  padding: 10%;
}

.hero_content .content h1 {
  font-size: 50px;
  text-align: left;
}

.hero_content .content p {
  font-size: 18px;
  line-height: 24px;
  width: 70%;
}
.hero_content .content h1 span {
  color: #f64b4b;
}
.hero_content .profile {
  width: 100%;
  flex-basis: 50%;
  justify-content: start;
  align-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.hero_content .profile img {
  height: 50vh;
  width: 400px;
  border-radius: 20px;
}
